.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
.caret-right {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  float: right;
  vertical-align: middle;
  border-left: 4px solid;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

* {
	box-sizing: border-box;
}
html {
	background-color: #fff;
	font-size: 12pt;
  color: #1a1a1a;
  /*line-height: 1.5;*/
}
body {
	min-width: 1000px;
}
.expand {
	width: 100%;
}
.no-padding {
	padding: 0px;
}
.no-margin {
	margin: 0;
}
.no-border {
	border: none;
}
.no-vertical-border {
	border-left: none;
	border-right: none;
}
.no-horizontal-border {
	border-top: none;
	border-bottom: none;
}
.scroll {
	overflow: auto;
}
.content {
	max-width: 1000px;
	margin: 0 auto;
}
.header {
	background-image: url('images/juet-guna.jpg');
	background-repeat: no-repeat;
	background-size: 100px;
	background-position: left;
	height: 150px;
	text-align: right;
	color: #35a;
	/*text-transform: uppercase;*/
	display: table;
	width: 100%;
}
.titles {
	vertical-align: middle;
	display: table-cell;
}
.title {
	font-size: 2em;
}
.subtitle {
	font-size: 1em;
}
.footer {
	background-color: #008cba;
	color: #fff;
}
.upper-block {
}
.list-group-item {
	margin-bottom: auto;
	margin-top: -1px;
}
.btn-panel {
	/*margin-left: 10px;*/
	/*margin-right: -10px;*/
	padding-right: 25px;
	padding-left: 25px;
	margin-top: -5px;
	ma
}
.link-btn {
	padding: 5px;
}
#notice-board {
	height: 354px;
}
#notice-board-inner {
	height: 313px;
}

